{% macro toggleButton(id, label, active) %}
<label class="btn btn-default" style="text-align: left;">
    <input type="checkbox" id="{{ id }}" {{ active ? 'checked' }}> {{ label }}
</label>
{% endmacro %}
{% import _self as macros %}

<div id="previewContainer" data-ref="{{ refString }}" data-translation="{{ translationId }}">
</div>
<div class="modal-header">
    <h4 class="modal-title" id="pdfModalLabel">Nyomtatás</h4>
    <button type="button" class="close btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body text-center">
                <div class="btn-group-vertical" id="pdfToggles">
                    {{ macros.toggleButton('pdfHeadings', 'Címsorok', true) }}
                    {{ macros.toggleButton('pdfNums', 'Versszámozás', false) }}                    
                    {{ macros.toggleButton('pdfRefs', 'Hivatkozások', false) }}
                         <div class="form-control">Példányszám
                        <select id="pdfQuantity">
                            {% for i in 1..30 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}
                        </select>
                             </div>
                    </p>
                </div>
            <div>
           </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a tabindex="0" id="pdfDownload" class="btn btn-primary"><i class="fas fa-print"></i> Nyomtatási kép létrehozása</a>    
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezárás</button>
</div>
