    <div class="accordion" id="greekAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button {{ form.mode != 'lemma' ? 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                    Görög szó/magyar jelentés szerint
                  </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse {{ form.mode == 'lemma' ? 'show' }}" data-bs-parent="#greekAccordion">
                <div class="accordion-body">
                    <form role="form" class="form-horizontal" method="post" action="{{ action('Search\\SearchController@greekSearch') }}" id="strongWordSearchForm"> 
                            <input type="hidden" name="mode" value="lemma">                   
                            {{ csrf_field() }}
                            <div class="input-group mb-2">
                                <span class="input-group-text"><a href="javascript:void(0)" class="link-primary"><span class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="Keresendő görög szó(tő). A magyar jelentést is gépelheted, felajánljuk a görög megfelelőt. Itt a szentírási versek Strong szavai között keresünk. "><span></a></span>
                                <input type="text" autocomplete="off" placeholder="Latin átírás / magyar jelentés" name="greekTranslit" id="greekTranslit" value="{{ form.greekTranslit }}" class="form-control" />
                                <select name="rule" class="form-select" id="greekTranslitRule" data-bs-toggle="tooltip" data-bs-placement="top" title="+ mindegyik, | bármelyik">
                                    <option value="all" {{ 'all' == form.rule ? 'selected' }}>+</option>
                                    <option value="any" {{ 'any' == form.rule ? 'selected' }}>|</option>
                                </select>
                                <input type="submit" value="Keresés" class="btn btn-primary"/>
                            </div>
                </div>
                {% from "search.search" import filterRow %}
                {{  filterRow(form, books, translations, 'strong-search-') }}
            </form>    
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button {{ form.mode != 'verse' ? 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                    Görög szövegrészlet
                  </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse {{ form.mode == 'verse' ? 'show' }}" data-bs-parent="#greekAccordion">
                <div class="accordion-body">
                    <form role="form" class="form-horizontal" method="post" action="{{ action('Search\\SearchController@greekSearch') }}" id="greekTextSearchForm">                    
                    <input type="hidden" name="mode" value="verse">
                    {{ csrf_field() }}
                    <div class="input-group mb-2">
                        <span class="input-group-text"><a href="javascript:void(0)" class="link-primary"><span class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="Itt a szentírási versek görög szövegében keresünk részleteket. Alapértelmezés szerint minden szónak szerepelnie kell az adott versben. Ha bármelyik szerepeljen, használd a | jelet, ha szórészlet szerepeljen, használd a * jelet, pl. meta* | *christ*"><span></a></span>
                        <input type="text" autocomplete="off" name="greekText" id="greekText" value="{{ form.greekText }}" placeholder="Keresendő szövegrészlet(ek)" class="form-control"/>
                        <a href="javascript:void(0)" id="greekTextSearchButton" class="btn btn-default btn-primary"><span id="greekTextSearchHitsButtonContent"><i class="bi-search"></i> Keresés</span></a>
                    </div>
                    {% from "search.search" import filterRow %}
                    {{  filterRow(form, books, translations, 'greek-search-') }}
                    </form>            
            </div>
        </div>

    </div>
        </div>
    </div>