{% extends 'layout' %}

{% set pageTitle %}
Keresés jelentés szerint mesterséges intelligencia segítségével | Szentírás
{% endset %}

{% block content %}
    <h3>Keresés jelentés szerint, AI segítségével</h2>
    <div class="card mb-2">
        <div class="card-body">            
        <div class="alert alert-primary" role="alert">
            <p>A „jelentés szerinti” keresés mesterséges intelligenciát használ a kereséshez, és <b>másképp működik, mint a hagyományos keresés</b>. A használatához néhány fontos szempont:</p>
            <ul>
                <li>Még mi is kísérletezünk vele, hogy milyen módon tudjuk a legjobb találatokat szolgáltatni, ezért néha csalódást kelthet a működése. A visszajelzéseknek örülünk.</li>
                <li>Pontos idézeteket, szavakat, mondatokat a <a href="/kereses">Részletes keresőben</a> keress!</li>   
                <li>Minél több kontextust adsz a keresésben, annál pontosabbak lesznek a találatok. A <i>Mit mond Jézus az ellenség szeretetéről?</i> sokkal jobb lehet, mint az <i>ellenségszeretet</i>.</li>
                <li>Ha idézetet keresel, csak nem tudod pontosan a szövegét, akkor próbáld meg idézőjelek között is.</li>
            </ul>
            
        </div>

            <form role="form" class="form-horizontal" method="post"
                  action="{{ action('Search\\SemanticSearchController@anySearch') }}" id="semanticSearchForm">
                  {% if not session_get("anonymous_token") %}
                    <div class="alert alert-primary" role="alert">
                        Regisztráció/belépés nélkül is használhatod a szemantikus keresőt, de egy munkamenetben legfeljebb {{ config_get('settings.ai.unregisteredSearchLimit') }} keresést végezhetsz. 
                        Eddig {{ session_get('semanticSearchCalls', 0) }} keresést végeztél.
                        Ha többre van szükséged, <a href="/login">lépj be</a> vagy <a href="/register">regisztrálj</a>, ha még nem tetted</a>!
                    </div>
                    {%  if not form.captchaValidated %}
                        <div class="cf-turnstile" data-sitekey="{{ config_get('services.cloudflare_turnstile.site_key') }}"></div>
                    {% endif %}
                {% endif %}                    
                <div class="mb-2">
                    <label for="textToSearchAi" class="form-label" required>Keresendő</label>
                    <input required type="text" name="textToSearchAi" id="textToSearchAi" value="{{ form.textToSearchAi }}" class="form-control"/>                    
                    {{ errors.first('textToSearchAi') }}
                </div>
                <div class="row g-3 mb-2">
                    <div class="col">
                        <label for="usxCode" class="form-label">Könyv</label>
                        <select name="usxCode" class="form-control" id="usxCode">
                            <option value="all" {{ 'all' == form.usxCode ? 'selected' }}>mind</option>
                            <option value="old_testament" {{ 'old_testament' == form.usxCode ? 'selected' }}>Ószövetség</option>
                            <option value="new_testament" {{ 'new_testament' == form.usxCode ? 'selected' }}>Újszövetség</option>
                            {% for book in books %}
                                <option value="{{ book.usx_code }}" {{ book.usx_code == form.usxCode ? 'selected' }}>{{ book.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="translationAbbrev" class="form-label">Fordítás</label>
                        <select name="translationAbbrev" class="form-control" id="translationAbbrev">
                            <option value="0" {{ form.translationAbbrev is not defined ? 'selected' }}>mind</option>
                            {% for translation in translations %}
                                <option value="{{ translation.abbrev }}" {{ translation.abbrev == form.translationAbbrev ? 'selected' }}>{{ translation.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {{ csrf_field() }}
                <input type="submit" value="Keresés" class="btn btn-primary"/>
            </form>
        </div>
    </div>                     

    {% if response is defined %}
        {% macro quality(result) %}
            <div class="quality" title="Becsült hasonlóság">
                {% for i in 1..5 %}
                    {% if i <= result.quality %}
                        <span class="star active">&#9733;</span>
                    {% else %}
                        <span class="star inactive">&#9734;</span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endmacro %}
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a class="nav-link active" role="tab" type="button" data-bs-target="#versek" data-bs-toggle="tab">Versek</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" role="tab" type="button" data-bs-target="#szakaszok" data-bs-toggle="tab" >Szakaszok</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" role="tab" type="button" data-bs-target="#fejezetek" data-bs-toggle="tab">Fejezetek</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="versek">
                {% for result in response.results %}        
                    {% for verseContainer in result.verseContainers %}
                    <blockquote class="blockquote searchResult">
                        <div class="searchResultSource">
                            <a href="/{{ result.embeddedExcerpt.translation_abbrev }}/{{ result.embeddedExcerpt.reference }}">{{ result.embeddedExcerpt.reference }}</a>
                            {{ _self.quality(result) }}
                        </div>
                        <div class="parsedVerses">
                            {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' :  result.embeddedExcerpt.translation, 'highlightedGepis' : result.highlightedGepis} %}
                        </div>
                    </blockquote>
                    {% endfor %}
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="szakaszok">
                {% for result in rangeResponse.results %}        
                    {% for verseContainer in result.verseContainers %}
                        <blockquote class="blockquote searchResult">
                            <div class="searchResultSource">
                                <a href="/{{ result.embeddedExcerpt.translation_abbrev }}/{{ result.embeddedExcerpt.reference }}">{{ result.embeddedExcerpt.reference }}</a>
                            {{ _self.quality(result) }}
                            </div>
                        <div class="parsedVerses">                    
                            {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' :  result.embeddedExcerpt.translation, 'highlightedGepis' : result.highlightedGepis } %}
                        <div class="parsedVerses">
                    </blockquote>
                    {% endfor %}
                {% endfor %}
            </div>

            <div role="tabpanel" class="tab-pane" id="fejezetek">
                {% for result in chapterResponse.results %}        
                    {% for verseContainer in result.verseContainers %}
                        <blockquote class="blockquote searchResult">
                            <div class="searchResultSource">
                                <a href="/{{ result.embeddedExcerpt.translation_abbrev }}/{{ result.embeddedExcerpt.reference }}">{{ result.embeddedExcerpt.reference }}</a>
                            {{ _self.quality(result) }}                        
                            </div>
                        <div class="parsedVerses">                    
                            {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' :  result.embeddedExcerpt.translation, 'highlightedGepis' : result.highlightedGepis } %}
                        <div class="parsedVerses">
                    </blockquote>
                    {% endfor %}
                {% endfor %}
            </div>

        </div>
    </div>
    {% endif %}

{% endblock %}

{% block script %}
    {% if not session_get("anonymous_token") %}
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
    {% endif %}
{%  endblock %}