<div>
    <b>{{ printed }}</b> - <small>{{  morphology }}</small><br>
    {{  strongWord.lemma }} ({{ strongWord.transliteration }}) - <a href="/ai-greek/find-all/{{ strongWord.number }}">Minden előfordulás</a>
</div>
<div>
    
</div>
