{% for chapter in 1..maxChapter %}
    {% if actualChapter != chapter %}
        <a class="btn btn-sm btn-outline-primary interstitial" role="button" href="/{{ translationAbbrev }}/{{ bookAbbrev }}{{ chapter }}">{{ chapter }}</a>
    {% else %}
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary disabled"  >{{ actualChapter }}</a>
    {% endif %}
{% endfor %}
