{% for verseContainer in verseContainers %}
    <div>
        {% include 'textDisplay.breadcrumb' with {'book': verseContainer.book, 'bookRef': verseContainer.bookRef } %}
    </div>
        <div class="mb-2">
         {% include 'textDisplay.parsedVerseContainer' with { 'verseContainer' : verseContainer, 'translation' : translation} %}
            {% for verse in verseContainer.parsedVerses %}
                {% if verse.footnotes is not empty %}
                    {% if not hasFootnote %}
                    <div class = "footnotes parsedVerses">                            
                        <h5>Jegyzetek</h5>
                        {% set hasFootnote = true %}
                    {% endif %}
                    {% for footnote in verse.footnotes %}
                        <p class="footnote"><strong>{{ verse.chapter }},{{ verse.numv }}</strong>
                            {{ footnote.text|raw }}</p>
                    {%endfor %}
                {% endif %}
                {% endfor %}
                {% if hasFootnote %}</div>{% endif %}
            </div>
            {%  if chapterLinks %}
                <ul class="pagination">
                    {% if chapterLinks.prevLink %}
                        <li class="page-item">                        
                            <a href="/{{ chapterLinks.prevLink }}{{ mediaEnabled ? '?media' : '' }}" class="page-link"><i class="bi-chevron-left"></i> Előző {{ verseContainer.book.usx_code != "PSA" ? "fejezet" : "zsoltár"}}</a>
                        </li>                        
                    {% endif %}                            
                        {% if chapterLinks.nextLink %}
                            <li class="page-item">
                            <a href="/{{ chapterLinks.nextLink }}{{ mediaEnabled ? '?media' : '' }}" role="button" class="page-link">Következő {{ verseContainer.book.usx_code != "PSA" ? "fejezet" : "zsoltár"}} <i class="bi bi-chevron-right"></i></a>
                        </li>                            
                        {% endif %}                    
                  </ul>                
            {% endif %}
    <hr>
{% endfor %}